<form class="" action="index.html" method="post">
  <h3 class="text-dark">Search by Address</h3>
  <label class="text-dark">Address: </label>
  <input class="input-dark" type="text" #address placeholder="e.g : 277 Bedford Avenue, Brooklyn, NY 11211, USA">
  <button class="btn-pop" type="button" (click)="addressInput(address.value)">Search</button>

  <div *ngIf="coordinateInfo">
    <h3 class="text-dark">Latitude: {{(coordinateInfo)?.results[0].geometry.location.lat}}</h3>
    <h3 class="text-dark">Longitude: {{(coordinateInfo)?.results[0].geometry.location.lng}}</h3>
  </div>
</form>
